/.deps/
/.libs/
/autom4te.cache/
/config.log
/config.status
/libtool
/Makefile
/hplip-systray.desktop
/hplip.conf
/hplip.desktop
/hplip.list
/prnt/drv/hpcups.drv
/prnt/drv/hpijs.drv
/prnt/hpijs/auto-include.h
/prnt/hpijs/platform.h
/*.la
/*.lo
/*.o
/hp
/hpcups
/hppgsz
/ptest
